.project {
	background: url(../imgs/bg.png);
	.border-radius(3px);

	.links a {
		display: block;
		margin-bottom: 14px;
		padding: 7px 10px 9px;

		.dark-button;
	}

	.description {
		h3 {
			color: #D0D1D1;
			padding-bottom: 10px;
		}

		p {
			color: #7f7f7f;
			font-style: italic;
			font-size: 1em;
			line-height: 1.4em;
		}
	}
}


@media all and (min-width: 650px) {
	.project {
		position: relative;
		margin-bottom: 10px;
		width: 500px;
		height: 300px;

		img {
			width: 490px;
			height: 290px;
			margin: 5px 0 0 5px;
			position: relative;
			z-index: 10;

			-webkit-transition: all 300ms ease-in-out;
			   -moz-transition: all 300ms ease-in-out;
			    -ms-transition: all 300ms ease-in-out;
			     -o-transition: all 300ms ease-in-out;
			        transition: all 300ms ease-in-out;
		}

		&:hover img {
			width: 270px;
			height: 160px;
			margin: 20px 0 0 20px;
		}

		div {
			position: absolute;
		}

		.links {
			left: 310px;
			top: 20px;

			a {
				width: 150px;
			}
		}

		.description {
			left: 20px;
			top: 195px;
			width: 460px;
		}
	}
}

@media all and (max-width: 650px) {
	.project {
		position: relative;
		padding: 10px 10px 60px;

		font-size: 1.1em;

		img {
			width: 100%;
			display: block;
		}

		.links {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;

			a {
				padding: 7px 0 9px;
				width: 45%;
				margin: 10px;
			}

			a:first-child {
				float: left;
				margin-right: 0;
			}

			a:last-child {
				float: right;
				margin-left: 0;
			}
		}

		.description {
			margin-top: 5px;
			padding: 10px;
		}
	}
}
